/* body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e0ffff;
}
body>h1{
    display: flex;
    
}

.form{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.input-container{
flex: 1;
margin: 5% 0;
}
div.main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
    align-items: center;
}
div.game{
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 50vw;
}
div.row{
    
    display: flex;
    
}*/
.row-one .cell{
    border-top: 0;
}
.row-three .cell{
    border-bottom: 0;
}
div.cell{
    
     /* background: #E9D2FF; */
     border: 1px solid blue;
     margin-left: 0;
     min-height: 2em;
     font-size: 32px;
}

.cell:first-child{
    border-left: 0;
}
.cell:last-child{
    border-right: 0;
}
 .hide{
    visibility: hidden;
    width: 0;
    height: 0;
}
.pt5{
    padding-top: 5% ;
}
